.widgets {
    flex: 0.35;
}
.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.widgets__input > input {
    background-color: var(--twitter-background);
    border: none;
}
.widgets__searchIcon {
    color: gray;
}
.widgets__widgetsContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: #f5f8fa;
}
.widgets__widgetsContainer > h2 {
    font-size: 18px;
    font-weight: 800;
}
